In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("globalAirQuality.csv")
print(df)

                        timestamp country      city  latitude  longitude  \
0      2025-11-04 18:25:17.554219      US  New York    40.713    -74.006
1      2025-11-04 19:25:17.554219      US  New York    40.713    -74.006
2      2025-11-04 20:25:17.554219      US  New York    40.713    -74.006
3      2025-11-04 21:25:17.554219      US  New York    40.713    -74.006
4      2025-11-04 22:25:17.554219      US  New York    40.713    -74.006
...                           ...     ...       ...       ...        ...
17995  2025-11-19 13:25:17.554219      CH    Zurich    47.377      8.542
17996  2025-11-19 14:25:17.554219      CH    Zurich    47.377      8.542
17997  2025-11-19 15:25:17.554219      CH    Zurich    47.377      8.542
17998  2025-11-19 16:25:17.554219      CH    Zurich    47.377      8.542
17999  2025-11-19 17:25:17.554219      CH    Zurich    47.377      8.542

         pm25     pm10     no2    so2      o3     co  aqi  temperature  \
0      50.295  108.938  27.998  6.539  52.568  1.096  108       18.504
1      32.083   63.043  36.120  4.021  43.536  1.075   90        5.838
2      42.250   82.553  26.935  9.538  23.320  0.977   84       31.833
3      30.403   79.951  63.536  7.609  31.369  0.230  158       23.140
4      21.083   66.423  38.997  6.919  45.615  1.085   97       13.632
...       ...      ...     ...    ...     ...    ...  ...          ...
17995  27.899   74.179  41.474  6.677  50.869  1.028  103        7.079
17996   2.950   47.988  42.235  2.821  35.551  0.644  105       28.734
17997  61.347   72.908  46.976  5.763  66.492  0.947  122       21.951
17998  40.722   95.152  32.957  5.524  53.193  0.868   95       24.042
17999  25.830   30.411  35.317  4.336  66.246  0.848   88        8.529

       humidity  wind_speed
0        70.168       3.725
1        80.088       8.969
2        62.783       9.650
3        89.153       8.956
4        76.499       4.017
...         ...         ...
17995    52.443       7.452
17996    85.678       4.496
17997    72.311       9.660
17998    31.880       2.642
17999    59.104       4.403

[18000 rows x 15 columns]

In [6]:
df[df["aqi"] > 190]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
112,2025-11-09 10:25:17.554219,US,New York,40.713,-74.006,96.012,102.666,38.339,6.486,42.027,1.643,192,32.786,32.631,6.679
745,2025-11-05 19:25:17.554219,GB,London,51.507,-0.128,107.144,43.819,13.389,4.601,21.680,0.890,214,19.055,66.245,1.637
3115,2025-11-14 13:25:17.554219,MX,Mexico City,19.433,-99.133,98.327,97.741,23.343,8.865,46.702,0.713,196,30.738,66.421,1.256
3786,2025-11-12 12:25:17.554219,AR,Buenos Aires,-34.604,-58.382,98.669,66.434,17.481,7.104,69.055,0.476,197,16.320,67.502,3.536
6747,2025-11-15 21:25:17.554219,IN,Mumbai,19.076,72.878,62.908,19.589,77.649,7.903,65.652,0.919,194,32.153,53.831,1.480
6783,2025-11-17 09:25:17.554219,IN,Mumbai,19.076,72.878,95.929,61.409,48.361,7.268,37.606,1.331,191,37.271,83.946,6.947
7024,2025-11-12 10:25:17.554219,IN,Delhi,28.704,77.102,44.382,45.774,78.190,4.611,5.395,0.991,195,34.274,49.015,3.470
8841,2025-11-13 03:25:17.554219,JP,Osaka,34.694,135.502,62.694,81.679,76.758,0.279,52.622,1.191,191,35.043,77.867,9.509
8941,2025-11-17 07:25:17.554219,JP,Osaka,34.694,135.502,102.142,95.204,41.688,7.806,28.951,0.753,204,15.277,76.131,4.586
10221,2025-11-10 15:25:17.554219,HK,Hong Kong,22.319,114.169,10.039,71.993,77.171,7.036,58.711,0.511,192,26.493,81.135,6.552
10463,2025-11-05 17:25:17.554219,SG,Singapore,1.352,103.820,96.990,70.755,39.352,8.797,34.517,0.558,193,21.696,78.150,7.132
10915,2025-11-09 13:25:17.554219,TH,Bangkok,13.756,100.502,65.546,79.294,77.920,8.953,32.138,0.472,194,16.485,31.518,8.398
10972,2025-11-11 22:25:17.554219,TH,Bangkok,13.756,100.502,77.914,76.273,77.360,0.986,24.644,0.928,193,12.098,59.982,1.659
11321,2025-11-11 11:25:17.554219,MY,Kuala Lumpur,3.139,101.687,97.323,25.452,21.753,6.991,49.607,0.782,194,14.922,46.271,7.508
11564,2025-11-06 14:25:17.554219,ID,Jakarta,-6.209,106.846,40.484,79.717,79.303,7.311,30.245,0.702,198,36.710,78.685,4.315
11891,2025-11-05 05:25:17.554219,AU,Sydney,-33.869,151.209,96.517,88.197,32.500,6.503,63.414,0.638,193,34.785,53.453,8.300
12360,2025-11-09 18:25:17.554219,AU,Melbourne,-37.814,144.963,95.525,69.733,37.653,4.434,49.056,0.672,191,18.600,34.296,5.787
12776,2025-11-12 02:25:17.554219,NZ,Auckland,-36.848,174.763,58.672,99.358,78.586,4.415,67.490,1.449,196,34.282,55.299,9.528
12956,2025-11-19 14:25:17.554219,NZ,Auckland,-36.848,174.763,44.824,66.657,90.019,3.637,41.311,0.849,225,14.872,63.319,0.958
13229,2025-11-15 23:25:17.554219,RU,Moscow,55.756,37.617,98.919,5.458,36.457,5.947,46.535,0.886,197,22.246,32.652,4.734
14555,2025-11-11 05:25:17.554219,PH,Manila,14.600,120.984,103.023,66.678,43.284,2.167,48.250,0.849,206,11.027,63.522,7.635
16767,2025-11-13 09:25:17.554219,PL,Warsaw,52.230,21.012,9.525,73.438,78.808,5.289,29.721,0.864,197,13.000,55.874,5.136
17153,2025-11-14 11:25:17.554219,SE,Stockholm,59.329,18.069,39.941,41.379,78.522,4.666,76.333,1.007,196,6.929,30.756,5.566
17458,2025-11-12 04:25:17.554219,FI,Helsinki,60.170,24.938,14.329,51.173,81.111,7.725,61.160,1.383,202,34.420,26.061,3.771
17529,2025-11-15 03:25:17.554219,FI,Helsinki,60.170,24.938,115.683,81.714,54.764,6.687,39.552,0.685,231,25.795,87.839,6.705
17815,2025-11-12 01:25:17.554219,CH,Zurich,47.377,8.542,54.805,39.178,81.406,10.241,46.579,0.498,203,20.883,70.201,3.500

In [13]:
df[(df["aqi"] > 100) & (df["country"] == "IN")]

,timestamp,country,city,latitude,longitude,pm25,pm10,no2,so2,o3,co,aqi,temperature,humidity,wind_speed
6483,2025-11-04 21:25:17.554219,IN,Mumbai,19.076,72.878,27.480,58.907,41.722,8.539,59.209,0.361,104,6.142,39.544,9.526
6485,2025-11-04 23:25:17.554219,IN,Mumbai,19.076,72.878,35.902,67.193,49.223,3.661,53.497,0.451,123,35.993,73.584,6.703
6488,2025-11-05 02:25:17.554219,IN,Mumbai,19.076,72.878,22.788,105.054,15.035,7.737,58.715,0.671,105,31.968,36.480,6.024
6489,2025-11-05 03:25:17.554219,IN,Mumbai,19.076,72.878,32.469,79.657,41.758,6.665,34.444,1.169,104,33.481,66.759,4.878
6490,2025-11-05 04:25:17.554219,IN,Mumbai,19.076,72.878,15.534,34.570,52.307,8.600,47.041,0.668,130,37.937,73.219,7.050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8272,2025-11-19 10:25:17.554219,IN,Chennai,13.083,80.271,58.335,59.203,46.020,1.123,86.493,0.736,116,5.744,83.543,5.965
8274,2025-11-19 12:25:17.554219,IN,Chennai,13.083,80.271,25.337,94.694,63.426,5.728,66.232,0.917,158,25.011,83.710,1.557
8276,2025-11-19 14:25:17.554219,IN,Chennai,13.083,80.271,68.446,93.351,47.252,4.812,64.233,1.044,136,17.835,27.979,1.200
8278,2025-11-19 16:25:17.554219,IN,Chennai,13.083,80.271,41.327,104.353,39.472,5.130,40.228,0.811,104,37.014,66.142,5.292
8279,2025-11-19 17:25:17.554219,IN,Chennai,13.083,80.271,53.623,48.233,58.153,6.043,52.684,0.722,145,25.023,81.638,7.494

In [14]:
df[df["aqi"] > 0][["country", "city", "temperature"]]

      country      city  temperature
0          US  New York       18.504
1          US  New York        5.838
2          US  New York       31.833
3          US  New York       23.140
4          US  New York       13.632
...       ...       ...          ...
17995      CH    Zurich        7.079
17996      CH    Zurich       28.734
17997      CH    Zurich       21.951
17998      CH    Zurich       24.042
17999      CH    Zurich        8.529

[18000 rows x 3 columns]

## Pandas preserves the original lables of the rows even after filtering
## After filtering, the labels are different and the index is different because, all the labels are not filtered and few may be missing, So, iloc[] and loc[] will not work the same anymore on the filtered data

In [25]:
filtered = df[(df["aqi"] > 100) & (df["country"] == "IN") & (df["city"] == "Delhi")][["city", "country", "temperature", "aqi"]]
# print(filtered)
print(filtered.loc[6841])
print(filtered.iloc[0])

city            Delhi
country            IN
temperature    23.468
aqi               133
Name: 6841, dtype: object
city            Delhi
country            IN
temperature    23.468
aqi               133
Name: 6841, dtype: object