In [1]:
import pandas as pd

2 main data structures if Pandas are
1. Series -> 1D lablled array
2. DataFrame -> 2D labelled array

Lable is a named index and it is not just position

In [2]:
info = {
    "name" : ["Vedhansh", "vineetha", "vani"],
    "CGPA" : [1.0, 10, 9.0]
}

df = pd.DataFrame(info)
print(df)

       name  CGPA
0  Vedhansh   1.0
1  vineetha  10.0
2      vani   9.0

We can import data from .xlsx and .csv and from our SQL table as well and Pandas will be able to visualize them in a tabular format like above

In [5]:
py_list = [1, 2, 3, 4, 5]
pd_series = pd.Series(py_list)
print(pd_series)
print(type(pd_series))
print(pd_series[0])
print(pd_series[2])
print(pd_series[4])

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
3
5

In [10]:
age_series = pd.Series([23, 21, 25, 25], index=["Varshitha", "vpr", "vinee", "veni"])
print(age_series)
print(age_series["Varshitha"]) #Values can be accessed through labels as well
print(age_series[1])#index based access
print(age_series.index)

Varshitha    23
vpr          21
vinee        25
veni         25
dtype: int64
23
21
Index(['Varshitha', 'vpr', 'vinee', 'veni'], dtype='object')

C:\Users\vinee\AppData\Local\Temp\ipykernel_2308\3637644109.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(age_series[1])#index based access