## Melt => Wide to Long format


## Pivot => Long to Wide format

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    "country":["USA", "USA", "India", "India"],
    "year":[2020, 2021, 202, 2021],
    "sales":[100, 120, 90, 110],
    "profit":[20, 25, 18, 22]
})
print(df)

  country  year  sales  profit
0     USA  2020    100      20
1     USA  2021    120      25
2   India   202     90      18
3   India  2021    110      22

Let's convert the above data into long format while preserving the data

In [12]:
melted_df = df.melt(
    id_vars=["country", "year"], #The columns that we want to keep
    value_vars=["sales","profit"], #The columns that we want to transform into a single one
    var_name="Metrics",
    value_name="value"
)

melted_df.pivot(
    index=["country", "year"], #Index should be unique, country alone is not unique so..
    columns="Metrics", #Create columns from the metric data
    values="value"
)

Metrics       profit  sales
country year
India   202       18     90
        2021      22    110
USA     2020      20    100
        2021      25    120

## Let's convert the melted data into original wide

In [11]:
melted_df.pivot(
    index=["country", "year"], #Index should be unique, country alone is not unique so..
    columns="Metrics", #Create columns from the metric data
    values="value"
)

NameError: name 'melted_df' is not defined