In [1]:
import pandas as pd

In [7]:
# Merging andd joining data

df_customers = pd.DataFrame({
        "customer_id":[1, 2, 3, 4],
        "name":["Adam", "Bob", "Charlie", "Dave"]
})

df_orders = pd.DataFrame({
    "Order_id":[101, 102, 103, 104],
    "customer_id":[2, 1, 3, 4],
    "Amount":[250, 120, 300, 180]
})

pd.merge(df_customers, df_orders, on="customer_id")  #Inner join, based on common column, Only when matching values
pd.merge(df_customers, df_orders, on="customer_id", how="left") #left join
pd.merge(df_customers, df_orders, on="customer_id", how="right")#right join
pd.merge(df_customers, df_orders, on="customer_id", how="outer")#right join

   customer_id     name  Order_id  Amount
0            1     Adam       102     120
1            2      Bob       101     250
2            3  Charlie       103     300
3            4     Dave       104     180