In [1]:
import pandas as pd

In [9]:
df = pd.read_csv("raw_data.csv")

In [3]:
df.columns

Index(['id', 'name', 'age', 'country', 'gender'], dtype='object')

In [ ]:
df["gender"].str.lower()

0        male
1        male
2      female
3     unknown
4      female
5        male
6      female
7        male
8      female
9        male
10     female
Name: gender, dtype: object

In [6]:
df["gender"].str.upper()

0        MALE
1        MALE
2      FEMALE
3     UNKNOWN
4      FEMALE
5        MALE
6      FEMALE
7        MALE
8      FEMALE
9        MALE
10     FEMALE
Name: gender, dtype: object

In [7]:
df["gender"].str.capitalize()

0        Male
1        Male
2      Female
3     Unknown
4      Female
5        Male
6      Female
7        Male
8      Female
9        Male
10     Female
Name: gender, dtype: object

In [10]:
df["name"].str.split(" ")

0         [John, Doe]
1         [John, Doe]
2       [Jane, Smith]
3              [Alex]
4     [Maria, Garcia]
5           [Li, Wei]
6                 NaN
7       [Ahmed, Khan]
8       [Rachel, Lee]
9      [Carols, Ruiz]
10     [Emily, Davis]
Name: name, dtype: object

In [12]:
df["country"].str.contains("usa", case=False)

0      True
1      True
2     False
3      True
4     False
5     False
6     False
7       NaN
8      True
9     False
10     True
Name: country, dtype: object